* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

html {
    font-size: 15px;
  }

.page-container {
  width: 95%;
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5em;
}

.menu-icon {
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 4px;
  background-color: #000;
  margin: 5px 0;
  border-radius: 25%;
}

.foods {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:15px
}

.food-g {
  max-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  max-width: 100%;
  max-height: 400px;
}

.img img {
  width: 100%;
  height: 100%;
}

.text {
  width: 100%;
  height: 400px;
  margin-top: 3em;
}

.text h3 {
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
  
.text p {
  text-align: center;
  font-size: .9rem;
  margin-top: 1em;
}

.page-num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.page-num ul {
  display: flex;
  list-style-type: none;
}

.page-num ul li a {
  text-decoration: none;
  color: #000;
}

.page-num ul li {
  margin-right: 30px;
  color: #000;
  font-weight: 300;
  padding: 8px;
  cursor: pointer;
}

.page-num .num-1 {
  background-color: #000;
  color: #fff;
}

.num-1:hover {
  background-color: #727170;
}

.line1 {
  margin: 4rem 0;
}

.about {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 5em;
}

.abt-t {
  margin: 2em;
  font-weight: lighter;
}

.abt-img {
  max-width: 800px;
  max-height: 800px;
  margin: 10px auto;
}

.abt-img img {
  width: 100%;
  height: 100%;
}

.about .p1 {
  font-style: italic;
}

.about p {
  margin: 20px;
  font-size: 1rem;
  line-height: 1.2em;
}

.line2 {
  margin: 4rem 0;
}

footer {
  width: 100%;
  padding: 2em 0;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}

footer div {
    max-width: 33%;
}


footer h1 {
  font-weight: 200;
  font-size: 22px;
  margin-bottom: 1em;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer a {
  color: #000;
}

.footer a span {
  text-decoration: underline;
  line-height: 1em;
}

.footer a span:hover {
  color: #ff0000;
}

.blog_post {
  width: 100%;
}

.blog {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  border-bottom: 1px solid #d3d3d3;
  padding-top: 1em;
}

.blog img {
  width: 80px;
  height: 80px;
}

.foot-text {
  max-width: 200px;
  margin-left: 20px;
  padding: 0;
  text-align: left;
}

.tag-2 {
  float: left;
  padding: 2px 5px;
  background-color: #757575;
  color: #fff;
  margin: 5px 2px;
  font-size: .8rem;
}

.tag-1 {
  float: left;
  padding: 2px 5px;
  color: #fff;
  background-color: black;
}

@media only screen and (max-width:748px) {
  .page-container {
    width: 98vw;
    margin: auto;
  }

  body {
    width: 100vw;
  }

  nav {
    width: 100%;
  }

  main {
    width: 100vw;
    margin: 5px;
  }

  .line1,
  .line2 {
    width: 100%;
    margin: 0 25px;
  }

  .about{
    width: 100%;
    margin-left: 30px;
  }

  .food-g .img {
    max-width: 100px;
    height: 300px;
  }

  footer {
    flex-direction: column;
    width: 100%;
    margin: 0 30px;
  }
    
  footer >div {
    max-width: 100%;
    margin-bottom: 50px;
  }
}
